body{
	height: 100%;
	width:100%;

}

.menu_bar{

	font-family: 'Bebas Neue', cursive;
	position: absolute;
	width: 100%;
	top:2%;
	left:22%;
	height: 40%;
	font-size:28px;
	text-transform: uppercase;
	opacity: 1;
	z-index: -1;
}

.brand{
	position: absolute;
	color: white;
	left:5%;
	top:3%;
	letter-spacing: 1px;
}

.menu{

	display: inline-flex;
	position: absolute;
	right:35%;
	top:5%;
	cursor: pointer;

}

.tab{
	color: black;
	margin: 3px;
	background: white;
	letter-spacing: 2px;
	padding: 5px;
	text-transform: uppercase;

}

.tab:hover{
	color: white;
}

.font1{
	position: absolute;
	top:20%;
	left:30%;
	font-size: 60px;
	letter-spacing: 2px;
}

.font2{
	position: absolute;
	top:32%;
	width: 100%;
	left: 0%;
	font-size: 20px;

}

.font3{
	width: 86%;
	left: 7%;
	font-size: 15px;
	top:40%;
}

.copyright{
	color:white;
	width: 100%;
	left:32%;
	position: absolute;
	top: 95%;
	font-size: 8px;
	letter-spacing: 0px;
	font-family: sans-serif;
	text-align: left;
	opacity:10%;

}


